DB_PASSWORD=TROQUE_POR_SENHA_FORTE
DB_NAME=ASMTasksProd
JWT_KEY=TROQUE_POR_CHAVE_SECRETA_MINIMO_32_CARACTERES
CORS_ORIGINS=https://seu-dominio.com
JWT_SAMESITE=Strict
ASPNETCORE_ENVIRONMENT=Production
NEXT_PUBLIC_API_URL=https://api.seu-dominio.com/api
