USE [master]
GO
/****** Object:  Database [ASMTasks]    Script Date: 06/05/2026 21:12:44 ******/
CREATE DATABASE [ASMTasks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASMTasks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ASMTasks.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASMTasks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ASMTasks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASMTasks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASMTasks]
GO
/****** Object:  Table [dbo].[Atendimento]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atendimento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](120) NOT NULL,
	[Descricao] [nvarchar](500) NULL,
	[ClienteId] [int] NOT NULL,
	[CadastradoPorColaboradorId] [int] NOT NULL,
	[DataHoraInicio] [datetime2](0) NOT NULL,
	[DataHoraFim] [datetime2](0) NULL,
	[Status] [nchar](1) NOT NULL,
	[DataCadastro] [datetime2](0) NOT NULL,
	[ObservacaoConclusao] [nvarchar](2000) NULL,
	[ConcluidoPorColaboradorId] [int] NULL,
	[DataHoraConclusao] [datetime2](0) NULL,
 CONSTRAINT [PK_Atendimento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AtendimentoColaborador]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtendimentoColaborador](
	[AtendimentoId] [int] NOT NULL,
	[ColaboradorId] [int] NOT NULL,
 CONSTRAINT [PK_AtendimentoColaborador] PRIMARY KEY CLUSTERED 
(
	[AtendimentoId] ASC,
	[ColaboradorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AtendimentoHistoricoStatus]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtendimentoHistoricoStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AtendimentoId] [int] NOT NULL,
	[Tipo] [char](1) NOT NULL,
	[ColaboradorId] [int] NOT NULL,
	[DataHoraAcao] [datetime2](0) NOT NULL,
	[Observacao] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AtendimentoNotificacao]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtendimentoNotificacao](
	[AtendimentoId] [int] NOT NULL,
	[MinutosAntecedencia] [int] NOT NULL,
 CONSTRAINT [PK_AtendimentoNotificacao] PRIMARY KEY CLUSTERED 
(
	[AtendimentoId] ASC,
	[MinutosAntecedencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Documento] [nvarchar](18) NOT NULL,
	[TipoPessoa] [nchar](1) NOT NULL,
	[RG] [nvarchar](15) NULL,
	[InscricaoEstadual] [nvarchar](15) NULL,
	[Clientecol] [nvarchar](45) NULL,
	[Email] [nvarchar](255) NULL,
	[Telefone] [nvarchar](20) NULL,
	[CEP] [nvarchar](9) NULL,
	[Cidade] [nvarchar](50) NULL,
	[UF] [nvarchar](2) NULL,
	[Logradouro] [nvarchar](100) NULL,
	[Numero] [int] NULL,
	[Bairro] [nvarchar](50) NULL,
	[Ativo] [bit] NOT NULL,
	[Site] [nvarchar](255) NULL,
	[DataReferencia] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colaborador]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colaborador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[CPF] [nvarchar](14) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Telefone] [nvarchar](20) NULL,
	[CEP] [nvarchar](9) NULL,
	[Cidade] [nvarchar](50) NULL,
	[UF] [nvarchar](2) NULL,
	[Logradouro] [nvarchar](100) NULL,
	[Numero] [int] NULL,
	[Bairro] [nvarchar](50) NULL,
	[DataNascimento] [date] NOT NULL,
	[DataAdmissao] [date] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[SetorId] [int] NOT NULL,
	[CargoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracaoSistema]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracaoSistema](
	[Id] [int] NOT NULL,
	[HoraInicioAgenda] [time](7) NOT NULL,
	[HoraFimAgenda] [time](7) NOT NULL,
	[LogoBase64] [nvarchar](max) NULL,
	[Email] [nvarchar](255) NULL,
	[Telefone] [nvarchar](50) NULL,
	[RazaoSocial] [nvarchar](255) NULL,
	[NomeFantasia] [nvarchar](255) NULL,
	[Cnpj] [nvarchar](30) NULL,
	[InscricaoEstadual] [nvarchar](50) NULL,
	[Cep] [nvarchar](9) NULL,
	[Logradouro] [nvarchar](255) NULL,
	[Numero] [nvarchar](20) NULL,
	[Bairro] [nvarchar](120) NULL,
	[Cidade] [nvarchar](120) NULL,
	[Uf] [nvarchar](2) NULL,
	[SmtpServidor] [nvarchar](255) NULL,
	[SmtpPorta] [int] NULL,
	[SmtpUsuario] [nvarchar](255) NULL,
	[SmtpSenha] [nvarchar](255) NULL,
	[SmtpUsaSsl] [bit] NOT NULL,
	[SmtpUsarSslTls] [bit] NOT NULL,
	[AnexoTamanhoMaximoMB] [int] NOT NULL,
	[AnexoLimiteImagemMB] [int] NULL,
	[AnexoLimitePdfMB] [int] NULL,
	[AnexoLimiteExcelMB] [int] NULL,
	[LogoDocumentosBase64] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etapa]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etapa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
	[Ativo] [bit] NOT NULL,
	[Ordem] [int] NOT NULL,
	[EhEtapaFinal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelAcesso]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelAcesso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
	[Ativo] [bit] NOT NULL,
	[EhAdministrador] [bit] NOT NULL,
 CONSTRAINT [PK_NivelAcesso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelAcessoPermissao]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelAcessoPermissao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NivelAcessoId] [int] NOT NULL,
	[TelaChave] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NivelAcessoPermissao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacaoEmailLog]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacaoEmailLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColaboradorId] [int] NOT NULL,
	[AtendimentoId] [int] NOT NULL,
	[MinutosAntecedencia] [int] NOT NULL,
	[EmailDestino] [nvarchar](255) NOT NULL,
	[DataEnvio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacaoSistema]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacaoSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColaboradorId] [int] NOT NULL,
	[AtendimentoId] [int] NOT NULL,
	[MinutosAntecedencia] [int] NOT NULL,
	[Titulo] [nvarchar](180) NOT NULL,
	[Mensagem] [nvarchar](500) NOT NULL,
	[DataNotificacao] [datetime] NOT NULL,
	[Lida] [bit] NOT NULL,
	[DataLeitura] [datetime] NULL,
	[DataCadastro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prioridade]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
	[Cor] [nchar](7) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[Ordem] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projeto]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projeto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
	[ClienteId] [int] NOT NULL,
	[CadastradoPorColaboradorId] [int] NOT NULL,
	[DataCadastro] [datetime2](0) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[Concluido] [bit] NOT NULL,
 CONSTRAINT [PK_Projeto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjetoHistorico]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjetoHistorico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjetoId] [int] NOT NULL,
	[Tipo] [char](1) NOT NULL,
	[RealizadoPorColaboradorId] [int] NULL,
	[RealizadoPorColaboradorNome] [varchar](100) NULL,
	[DataHoraAcao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjetoTarefa]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjetoTarefa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjetoId] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
	[PrioridadeId] [int] NOT NULL,
	[ColaboradorResponsavelId] [int] NULL,
	[DataHoraAtribuicao] [datetime2](0) NULL,
	[EtapaId] [int] NULL,
	[DataHoraInicio] [datetime] NULL,
	[SetorId] [int] NULL,
 CONSTRAINT [PK_ProjetoTarefa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjetoTarefaAnexo]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjetoTarefaAnexo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TarefaId] [int] NOT NULL,
	[NomeOriginal] [nvarchar](255) NOT NULL,
	[NomeArquivo] [nvarchar](255) NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[Tamanho] [bigint] NOT NULL,
	[DataUpload] [datetime] NOT NULL,
	[EnviadoPorColaboradorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjetoTarefaHistorico]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjetoTarefaHistorico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TarefaId] [int] NOT NULL,
	[Tipo] [char](1) NOT NULL,
	[ColaboradorId] [int] NULL,
	[ColaboradorNome] [nvarchar](200) NULL,
	[EtapaId] [int] NULL,
	[EtapaNome] [nvarchar](200) NULL,
	[DataHoraAcao] [datetime] NOT NULL,
	[Observacao] [nvarchar](500) NULL,
	[RealizadoPorColaboradorId] [int] NULL,
	[RealizadoPorColaboradorNome] [varchar](100) NULL,
 CONSTRAINT [PK_ProjetoTarefaHistorico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setor]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/05/2026 21:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColaboradorId] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[SenhaHash] [nvarchar](256) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCadastro] [datetime2](0) NOT NULL,
	[NivelAcesso] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_ColaboradorId] UNIQUE NONCLUSTERED 
(
	[ColaboradorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Atendimento_CadastradoPorColaboradorId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Atendimento_CadastradoPorColaboradorId] ON [dbo].[Atendimento]
(
	[CadastradoPorColaboradorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Atendimento_ClienteId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Atendimento_ClienteId] ON [dbo].[Atendimento]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AtendimentoColaborador_ColaboradorId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_AtendimentoColaborador_ColaboradorId] ON [dbo].[AtendimentoColaborador]
(
	[ColaboradorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AtendimentoHistoricoStatus_AtendimentoId_DataHoraAcao]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_AtendimentoHistoricoStatus_AtendimentoId_DataHoraAcao] ON [dbo].[AtendimentoHistoricoStatus]
(
	[AtendimentoId] ASC,
	[DataHoraAcao] DESC,
	[Id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Colaborador_CargoId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Colaborador_CargoId] ON [dbo].[Colaborador]
(
	[CargoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Colaborador_SetorId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Colaborador_SetorId] ON [dbo].[Colaborador]
(
	[SetorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_NivelAcesso_Nome]    Script Date: 06/05/2026 21:12:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_NivelAcesso_Nome] ON [dbo].[NivelAcesso]
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_NivelAcessoPermissao_NivelAcessoId_TelaChave]    Script Date: 06/05/2026 21:12:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_NivelAcessoPermissao_NivelAcessoId_TelaChave] ON [dbo].[NivelAcessoPermissao]
(
	[NivelAcessoId] ASC,
	[TelaChave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificacaoEmailLog_Atendimento_Colaborador_Antecedencia_DataEnvio]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_NotificacaoEmailLog_Atendimento_Colaborador_Antecedencia_DataEnvio] ON [dbo].[NotificacaoEmailLog]
(
	[AtendimentoId] ASC,
	[ColaboradorId] ASC,
	[MinutosAntecedencia] ASC,
	[DataEnvio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_NotificacaoEmailLog_Chave]    Script Date: 06/05/2026 21:12:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_NotificacaoEmailLog_Chave] ON [dbo].[NotificacaoEmailLog]
(
	[ColaboradorId] ASC,
	[AtendimentoId] ASC,
	[MinutosAntecedencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificacaoSistema_Atendimento_Colaborador_Antecedencia_DataNotificacao]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_NotificacaoSistema_Atendimento_Colaborador_Antecedencia_DataNotificacao] ON [dbo].[NotificacaoSistema]
(
	[AtendimentoId] ASC,
	[ColaboradorId] ASC,
	[MinutosAntecedencia] ASC,
	[DataNotificacao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificacaoSistema_Colaborador_Lida_DataNotificacao]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_NotificacaoSistema_Colaborador_Lida_DataNotificacao] ON [dbo].[NotificacaoSistema]
(
	[ColaboradorId] ASC,
	[Lida] ASC,
	[DataNotificacao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_NotificacaoSistema_Chave]    Script Date: 06/05/2026 21:12:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_NotificacaoSistema_Chave] ON [dbo].[NotificacaoSistema]
(
	[ColaboradorId] ASC,
	[AtendimentoId] ASC,
	[MinutosAntecedencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projeto_Ativo]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Projeto_Ativo] ON [dbo].[Projeto]
(
	[Ativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projeto_ClienteId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_Projeto_ClienteId] ON [dbo].[Projeto]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjetoTarefa_ColaboradorResponsavelId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_ProjetoTarefa_ColaboradorResponsavelId] ON [dbo].[ProjetoTarefa]
(
	[ColaboradorResponsavelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjetoTarefa_EtapaId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_ProjetoTarefa_EtapaId] ON [dbo].[ProjetoTarefa]
(
	[EtapaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjetoTarefa_PrioridadeId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_ProjetoTarefa_PrioridadeId] ON [dbo].[ProjetoTarefa]
(
	[PrioridadeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjetoTarefa_ProjetoId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_ProjetoTarefa_ProjetoId] ON [dbo].[ProjetoTarefa]
(
	[ProjetoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjetoTarefa_SetorId]    Script Date: 06/05/2026 21:12:45 ******/
CREATE NONCLUSTERED INDEX [IX_ProjetoTarefa_SetorId] ON [dbo].[ProjetoTarefa]
(
	[SetorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Atendimento] ADD  CONSTRAINT [DF_Atendimento_Status]  DEFAULT ('A') FOR [Status]
GO
ALTER TABLE [dbo].[Atendimento] ADD  CONSTRAINT [DF_Atendimento_DataCadastro]  DEFAULT (sysdatetime()) FOR [DataCadastro]
GO
ALTER TABLE [dbo].[ConfiguracaoSistema] ADD  CONSTRAINT [DF_ConfiguracaoSistema_SmtpUsaSsl]  DEFAULT ((0)) FOR [SmtpUsaSsl]
GO
ALTER TABLE [dbo].[ConfiguracaoSistema] ADD  CONSTRAINT [DF_ConfiguracaoSistema_SmtpUsarSslTls]  DEFAULT ((1)) FOR [SmtpUsarSslTls]
GO
ALTER TABLE [dbo].[ConfiguracaoSistema] ADD  DEFAULT ((20)) FOR [AnexoTamanhoMaximoMB]
GO
ALTER TABLE [dbo].[Etapa] ADD  DEFAULT ((0)) FOR [Ordem]
GO
ALTER TABLE [dbo].[Etapa] ADD  DEFAULT ((0)) FOR [EhEtapaFinal]
GO
ALTER TABLE [dbo].[NivelAcesso] ADD  CONSTRAINT [DF_NivelAcesso_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[NivelAcesso] ADD  CONSTRAINT [DF_NivelAcesso_EhAdministrador]  DEFAULT ((0)) FOR [EhAdministrador]
GO
ALTER TABLE [dbo].[NotificacaoSistema] ADD  CONSTRAINT [DF_NotificacaoSistema_Lida]  DEFAULT ((0)) FOR [Lida]
GO
ALTER TABLE [dbo].[Prioridade] ADD  DEFAULT ((0)) FOR [Ordem]
GO
ALTER TABLE [dbo].[Projeto] ADD  CONSTRAINT [DF_Projeto_DataCadastro]  DEFAULT (sysdatetime()) FOR [DataCadastro]
GO
ALTER TABLE [dbo].[Projeto] ADD  CONSTRAINT [DF_Projeto_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Projeto] ADD  DEFAULT ((0)) FOR [Concluido]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_NivelAcesso]  DEFAULT ((1)) FOR [NivelAcesso]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_CadastradoPorColaborador] FOREIGN KEY([CadastradoPorColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK_Atendimento_CadastradoPorColaborador]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK_Atendimento_Cliente]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_ConcluidoPorColaborador] FOREIGN KEY([ConcluidoPorColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK_Atendimento_ConcluidoPorColaborador]
GO
ALTER TABLE [dbo].[AtendimentoColaborador]  WITH CHECK ADD  CONSTRAINT [FK_AtendimentoColaborador_Atendimento] FOREIGN KEY([AtendimentoId])
REFERENCES [dbo].[Atendimento] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AtendimentoColaborador] CHECK CONSTRAINT [FK_AtendimentoColaborador_Atendimento]
GO
ALTER TABLE [dbo].[AtendimentoColaborador]  WITH CHECK ADD  CONSTRAINT [FK_AtendimentoColaborador_Colaborador] FOREIGN KEY([ColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[AtendimentoColaborador] CHECK CONSTRAINT [FK_AtendimentoColaborador_Colaborador]
GO
ALTER TABLE [dbo].[AtendimentoHistoricoStatus]  WITH CHECK ADD  CONSTRAINT [FK_AtendimentoHistoricoStatus_Atendimento] FOREIGN KEY([AtendimentoId])
REFERENCES [dbo].[Atendimento] ([Id])
GO
ALTER TABLE [dbo].[AtendimentoHistoricoStatus] CHECK CONSTRAINT [FK_AtendimentoHistoricoStatus_Atendimento]
GO
ALTER TABLE [dbo].[AtendimentoHistoricoStatus]  WITH CHECK ADD  CONSTRAINT [FK_AtendimentoHistoricoStatus_Colaborador] FOREIGN KEY([ColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[AtendimentoHistoricoStatus] CHECK CONSTRAINT [FK_AtendimentoHistoricoStatus_Colaborador]
GO
ALTER TABLE [dbo].[AtendimentoNotificacao]  WITH CHECK ADD  CONSTRAINT [FK_AtendimentoNotificacao_Atendimento] FOREIGN KEY([AtendimentoId])
REFERENCES [dbo].[Atendimento] ([Id])
GO
ALTER TABLE [dbo].[AtendimentoNotificacao] CHECK CONSTRAINT [FK_AtendimentoNotificacao_Atendimento]
GO
ALTER TABLE [dbo].[Colaborador]  WITH CHECK ADD  CONSTRAINT [FK_Colaborador_Cargo] FOREIGN KEY([CargoId])
REFERENCES [dbo].[Cargo] ([Id])
GO
ALTER TABLE [dbo].[Colaborador] CHECK CONSTRAINT [FK_Colaborador_Cargo]
GO
ALTER TABLE [dbo].[Colaborador]  WITH CHECK ADD  CONSTRAINT [FK_Colaborador_Setor] FOREIGN KEY([SetorId])
REFERENCES [dbo].[Setor] ([Id])
GO
ALTER TABLE [dbo].[Colaborador] CHECK CONSTRAINT [FK_Colaborador_Setor]
GO
ALTER TABLE [dbo].[NivelAcessoPermissao]  WITH CHECK ADD  CONSTRAINT [FK_NivelAcessoPermissao_NivelAcesso] FOREIGN KEY([NivelAcessoId])
REFERENCES [dbo].[NivelAcesso] ([Id])
GO
ALTER TABLE [dbo].[NivelAcessoPermissao] CHECK CONSTRAINT [FK_NivelAcessoPermissao_NivelAcesso]
GO
ALTER TABLE [dbo].[NotificacaoEmailLog]  WITH CHECK ADD  CONSTRAINT [FK_NotificacaoEmailLog_Atendimento] FOREIGN KEY([AtendimentoId])
REFERENCES [dbo].[Atendimento] ([Id])
GO
ALTER TABLE [dbo].[NotificacaoEmailLog] CHECK CONSTRAINT [FK_NotificacaoEmailLog_Atendimento]
GO
ALTER TABLE [dbo].[NotificacaoEmailLog]  WITH CHECK ADD  CONSTRAINT [FK_NotificacaoEmailLog_Colaborador] FOREIGN KEY([ColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[NotificacaoEmailLog] CHECK CONSTRAINT [FK_NotificacaoEmailLog_Colaborador]
GO
ALTER TABLE [dbo].[NotificacaoSistema]  WITH CHECK ADD  CONSTRAINT [FK_NotificacaoSistema_Atendimento] FOREIGN KEY([AtendimentoId])
REFERENCES [dbo].[Atendimento] ([Id])
GO
ALTER TABLE [dbo].[NotificacaoSistema] CHECK CONSTRAINT [FK_NotificacaoSistema_Atendimento]
GO
ALTER TABLE [dbo].[NotificacaoSistema]  WITH CHECK ADD  CONSTRAINT [FK_NotificacaoSistema_Colaborador] FOREIGN KEY([ColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[NotificacaoSistema] CHECK CONSTRAINT [FK_NotificacaoSistema_Colaborador]
GO
ALTER TABLE [dbo].[Projeto]  WITH CHECK ADD  CONSTRAINT [FK_Projeto_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Projeto] CHECK CONSTRAINT [FK_Projeto_Cliente]
GO
ALTER TABLE [dbo].[Projeto]  WITH CHECK ADD  CONSTRAINT [FK_Projeto_ColaboradorCadastro] FOREIGN KEY([CadastradoPorColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[Projeto] CHECK CONSTRAINT [FK_Projeto_ColaboradorCadastro]
GO
ALTER TABLE [dbo].[ProjetoHistorico]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoHistorico_Projeto] FOREIGN KEY([ProjetoId])
REFERENCES [dbo].[Projeto] ([Id])
GO
ALTER TABLE [dbo].[ProjetoHistorico] CHECK CONSTRAINT [FK_ProjetoHistorico_Projeto]
GO
ALTER TABLE [dbo].[ProjetoTarefa]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoTarefa_ColaboradorResponsavel] FOREIGN KEY([ColaboradorResponsavelId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[ProjetoTarefa] CHECK CONSTRAINT [FK_ProjetoTarefa_ColaboradorResponsavel]
GO
ALTER TABLE [dbo].[ProjetoTarefa]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoTarefa_Etapa] FOREIGN KEY([EtapaId])
REFERENCES [dbo].[Etapa] ([Id])
GO
ALTER TABLE [dbo].[ProjetoTarefa] CHECK CONSTRAINT [FK_ProjetoTarefa_Etapa]
GO
ALTER TABLE [dbo].[ProjetoTarefa]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoTarefa_Prioridade] FOREIGN KEY([PrioridadeId])
REFERENCES [dbo].[Prioridade] ([Id])
GO
ALTER TABLE [dbo].[ProjetoTarefa] CHECK CONSTRAINT [FK_ProjetoTarefa_Prioridade]
GO
ALTER TABLE [dbo].[ProjetoTarefa]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoTarefa_Projeto] FOREIGN KEY([ProjetoId])
REFERENCES [dbo].[Projeto] ([Id])
GO
ALTER TABLE [dbo].[ProjetoTarefa] CHECK CONSTRAINT [FK_ProjetoTarefa_Projeto]
GO
ALTER TABLE [dbo].[ProjetoTarefa]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoTarefa_Setor] FOREIGN KEY([SetorId])
REFERENCES [dbo].[Setor] ([Id])
GO
ALTER TABLE [dbo].[ProjetoTarefa] CHECK CONSTRAINT [FK_ProjetoTarefa_Setor]
GO
ALTER TABLE [dbo].[ProjetoTarefaAnexo]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoTarefaAnexo_Colaborador] FOREIGN KEY([EnviadoPorColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[ProjetoTarefaAnexo] CHECK CONSTRAINT [FK_ProjetoTarefaAnexo_Colaborador]
GO
ALTER TABLE [dbo].[ProjetoTarefaAnexo]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoTarefaAnexo_Tarefa] FOREIGN KEY([TarefaId])
REFERENCES [dbo].[ProjetoTarefa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjetoTarefaAnexo] CHECK CONSTRAINT [FK_ProjetoTarefaAnexo_Tarefa]
GO
ALTER TABLE [dbo].[ProjetoTarefaHistorico]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoTarefaHistorico_Tarefa] FOREIGN KEY([TarefaId])
REFERENCES [dbo].[ProjetoTarefa] ([Id])
GO
ALTER TABLE [dbo].[ProjetoTarefaHistorico] CHECK CONSTRAINT [FK_ProjetoTarefaHistorico_Tarefa]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Colaborador] FOREIGN KEY([ColaboradorId])
REFERENCES [dbo].[Colaborador] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Colaborador]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_NivelAcesso] FOREIGN KEY([NivelAcesso])
REFERENCES [dbo].[NivelAcesso] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_NivelAcesso]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [CK_Atendimento_DataHora] CHECK  (([DataHoraFim] IS NULL OR [DataHoraFim]>[DataHoraInicio]))
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [CK_Atendimento_DataHora]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [CK_Atendimento_Status] CHECK  (([Status]='R' OR [Status]='A'))
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [CK_Atendimento_Status]
GO
ALTER TABLE [dbo].[AtendimentoHistoricoStatus]  WITH CHECK ADD  CONSTRAINT [CK_AtendimentoHistoricoStatus_Tipo] CHECK  (([Tipo]='R' OR [Tipo]='C'))
GO
ALTER TABLE [dbo].[AtendimentoHistoricoStatus] CHECK CONSTRAINT [CK_AtendimentoHistoricoStatus_Tipo]
GO
ALTER TABLE [dbo].[AtendimentoNotificacao]  WITH CHECK ADD  CONSTRAINT [CK_AtendimentoNotificacao_Minutos] CHECK  (([MinutosAntecedencia]>(0)))
GO
ALTER TABLE [dbo].[AtendimentoNotificacao] CHECK CONSTRAINT [CK_AtendimentoNotificacao_Minutos]
GO
USE [master]
GO
